## Finance Condition Analyze

In [47]:
import pandas as pd

file_path = './data/finance.txt'
with open(file_path, 'r') as file:
    lines = file.readlines()

data = []
for line in lines:
    place, amount = line.strip().split(',')
    data.append([place, amount])

data

[['place', ' amount'],
 ['ç‰å±±', ' 3916'],
 ['éƒµå±€', ' 11706'],
 ['å¯Œé‚¦', ' 2220'],
 ['åœ‹æ³°', ' 40027'],
 ['è™›æ“¬è²¨å¹£', ' 1332.03 (USD)'],
 ['å°è‚¡ 00878', ' 2500'],
 ['å°è‚¡ å°ç©', ' 165'],
 ['å°è‚¡ ç‰å±±é‡‘', ' 4234'],
 ['å°è‚¡ å°é”é›»', ' 85'],
 ['å°è‚¡ ç·¯å‰µ', ' 30'],
 ['å°è‚¡ ä¸­ç§Ÿ', ' 250'],
 ['å°è‚¡ æ°¸æ˜•', ' 500'],
 ['å…¬å¸è‚¡', ' 200000']]

In [48]:
df = pd.DataFrame(data[1:], columns=["item", "amount"])
df

        item          amount
0         ç‰å±±            3916
1         éƒµå±€           11706
2         å¯Œé‚¦            2220
3         åœ‹æ³°           40027
4       è™›æ“¬è²¨å¹£   1332.03 (USD)
5   å°è‚¡ 00878            2500
6      å°è‚¡ å°ç©             165
7     å°è‚¡ ç‰å±±é‡‘            4234
8     å°è‚¡ å°é”é›»              85
9      å°è‚¡ ç·¯å‰µ              30
10     å°è‚¡ ä¸­ç§Ÿ             250
11     å°è‚¡ æ°¸æ˜•             500
12       å…¬å¸è‚¡          200000

In [53]:
import requests

def get_tse_stock_price(stock_symbol, market="tse"):
    url = f"https://mis.twse.com.tw/stock/api/getStockInfo.jsp?ex_ch={market}_{stock_symbol}.tw"
    try:
        response = requests.get(url)
        response.raise_for_status()
        data = response.json()
        
        if "msgArray" in data and len(data["msgArray"]) > 0:
            price = data["msgArray"][0]["z"]  # æœ€æ–°æˆäº¤åƒ¹
            return price
        else:
            return None
    except Exception as e:
        print(f"âš ï¸ ç„¡æ³•ç²å– {market}_{stock_symbol} çš„è‚¡åƒ¹: {e}")
        return None

In [54]:
import requests

def get_usd_to_twd_rate():
    url = "https://open.er-api.com/v6/latest/USD"
    try:
        response = requests.get(url, timeout=5) # set timeout to 5 seconds
        response.raise_for_status()  # check if the request is successful
        data = response.json()
        
        # check if the response data contains the exchange rates
        if "rates" in data and "TWD" in data["rates"]:
            return data["rates"]["TWD"]
        else:
            print("âš ï¸ API å›æ‡‰ç•°å¸¸ï¼Œæ‰¾ä¸åˆ° TWD åŒ¯ç‡ï¼")
            return None
    except requests.exceptions.RequestException as e:
        print(f"âš ï¸ ç„¡æ³•ç²å–åŒ¯ç‡: {e}")
        return None

usd_to_twd_rate = get_usd_to_twd_rate()

if usd_to_twd_rate is None:
    print("âŒ å–å¾—åŒ¯ç‡å¤±æ•—ï¼Œä½¿ç”¨é è¨­åŒ¯ç‡ 31.5")
    usd_to_twd_rate = 31.5 # set default rate

print(f"ğŸ’± å³æ™‚åŒ¯ç‡: 1 USD = {usd_to_twd_rate:.2f} TWD")

ğŸ’± å³æ™‚åŒ¯ç‡: 1 USD = 32.88 TWD

In [55]:
stock_dict = {
    "00878": "00878",
    "å°ç©": "2330",
    "ç‰å±±é‡‘": "2884",
    "å°é”é›»": "2308",
    "ç·¯å‰µ": "3231",
    "ä¸­ç§Ÿ": "5871",
    "æ°¸æ˜•": "4726"
}

In [56]:
import re
# åˆå§‹åŒ–ç¸½å°å¹£
total_twd = 0

# è™•ç†æ¯ä¸€ç­†æ•¸æ“š
def convert_amount(item, amount_str):
    global total_twd

    # **ç¢ºä¿ amount_str æ˜¯å­—ä¸²**
    if isinstance(amount_str, (int, float)):
        amount_str = str(amount_str)  # è½‰ç‚ºå­—ä¸²
    else:
        amount_str = amount_str.strip()  # è‹¥å·²æ˜¯å­—ä¸²ï¼Œå»é™¤å‰å¾Œç©ºæ ¼

    # **è§£æ ç´”ç¾é‡‘** (ex: "1332.03 (USD)")
    match_usd = re.match(r"([\d\.]+)\s*\(USD\)", amount_str)

    if match_usd:
        usd_value = float(match_usd.group(1))  # å–ç¾é‡‘æ•¸å­—
        twd_amount = int(usd_value * usd_to_twd_rate)  # ç¾é‡‘è½‰å°å¹£
        print(f"ğŸ”„ {usd_value} USD è½‰æ›ç‚º {twd_amount} TWD")
        total_twd += twd_amount
        return

    # **è§£æ å°è‚¡ (ex: "å°è‚¡ 00878, 2500")**
    match_stock = re.match(r"å°è‚¡\s+(.+)", item)
    
    if match_stock:
        stock_name = match_stock.group(1)  # æå–è‚¡ç¥¨åç¨±
        try:
            shares = int(amount_str)  # ç¢ºä¿è‚¡æ•¸æ˜¯ `int`
        except ValueError:
            print(f"âš ï¸ ç„¡æ³•è§£æè‚¡æ•¸: {amount_str}")
            return

        if stock_name in stock_dict:
            stock_symbol = stock_dict[stock_name]
            market = "tse" if stock_symbol != "4726" else "otc"
            
            # print(f"ğŸ“ˆ æŸ¥è©¢ {stock_name} ({stock_symbol}) å¸‚å ´: {market}")
            stock_price = get_tse_stock_price(stock_symbol, market)

            if stock_price:
                try:
                    # **ä¿®æ­£é‡è¤‡æ•¸å­—çš„å•é¡Œ**
                    stock_price = re.findall(r"[-+]?\d*\.\d+|\d+", stock_price)  # å–å‡ºæ•¸å­—
                    if stock_price:
                        stock_price = float(stock_price[0])  # åªå–ç¬¬ä¸€å€‹æ­£ç¢ºæ•¸å­—
                    else:
                        raise ValueError("âš ï¸ ç„¡æ³•è§£æè‚¡åƒ¹")

                    twd_value = int(stock_price * shares)  # è¨ˆç®—ç¸½åƒ¹å€¼
                    print(f"ğŸ“ˆ {stock_name} ({stock_symbol}) {shares} è‚¡ï¼Œæ¯è‚¡ {stock_price} TWDï¼Œç¸½å€¼: {twd_value} TWD")
                    total_twd += twd_value
                    return
                except ValueError:
                    print(f"âš ï¸ è‚¡åƒ¹æ ¼å¼éŒ¯èª¤: {stock_price}")
                    return

        print(f"âš ï¸ ç„¡æ³•ç²å– {stock_name} ({stock_symbol}) çš„è‚¡åƒ¹")
        return

    # **ç´”å°å¹£**
    try:
        twd_amount = int(amount_str)
        print(f"ğŸ’° {item}: {twd_amount} TWD")
        total_twd += twd_amount
    except ValueError:
        print(f"âš ï¸ ç„¡æ³•è§£ææ•¸å€¼: {amount_str}")

# **éæ­· DataFrame ä¸¦ `print` å‡ºä¾†**
for _, row in df.iterrows():
    convert_amount(row["item"], row["amount"])

# **æœ€çµ‚ç¸½é‡‘é¡**
print(f"\nğŸ’° ç¸½é‡‘é¡ (åŒ…å« USD & å°è‚¡æ›ç®—): {total_twd} TWD")

ğŸ’° ç‰å±±: 3916 TWD
ğŸ’° éƒµå±€: 11706 TWD
ğŸ’° å¯Œé‚¦: 2220 TWD
ğŸ’° åœ‹æ³°: 40027 TWD
ğŸ”„ 1332.03 USD è½‰æ›ç‚º 43801 TWD
ğŸ“ˆ 00878 (00878) 2500 è‚¡ï¼Œæ¯è‚¡ 22.26 TWDï¼Œç¸½å€¼: 55650 TWD
ğŸ“ˆ å°ç© (2330) 165 è‚¡ï¼Œæ¯è‚¡ 1110.0 TWDï¼Œç¸½å€¼: 183150 TWD
ğŸ“ˆ ç‰å±±é‡‘ (2884) 4234 è‚¡ï¼Œæ¯è‚¡ 28.45 TWDï¼Œç¸½å€¼: 120457 TWD
ğŸ“ˆ å°é”é›» (2308) 85 è‚¡ï¼Œæ¯è‚¡ 405.5 TWDï¼Œç¸½å€¼: 34467 TWD
ğŸ“ˆ ç·¯å‰µ (3231) 30 è‚¡ï¼Œæ¯è‚¡ 102.0 TWDï¼Œç¸½å€¼: 3060 TWD
ğŸ“ˆ ä¸­ç§Ÿ (5871) 250 è‚¡ï¼Œæ¯è‚¡ 115.5 TWDï¼Œç¸½å€¼: 28875 TWD
ğŸ“ˆ æ°¸æ˜• (4726) 500 è‚¡ï¼Œæ¯è‚¡ 40.55 TWDï¼Œç¸½å€¼: 20275 TWD
ğŸ’° å…¬å¸è‚¡: 200000 TWD

ğŸ’° ç¸½é‡‘é¡ (åŒ…å« USD & å°è‚¡æ›ç®—): 747604 TWD

### Modify Stock Number

In [63]:
# **ç¯©é¸å‡ºæ‰€æœ‰ "å°è‚¡" é–‹é ­çš„é …ç›®**
stock_df = df[df["item"].str.startswith("å°è‚¡")].reset_index()

# **åˆ—å‡ºå¯ä¿®æ”¹çš„å°è‚¡**
print("\nğŸ“Š å¯ä¿®æ”¹çš„è‚¡ç¥¨ï¼š")
for i, row in stock_df.iterrows():
    print(f"{i + 1}. {row['item']} - {row['amount']} è‚¡")

# **ä½¿ç”¨è€…è¼¸å…¥é¸æ“‡çš„è‚¡ç¥¨**
try:
    choice = int(input("\nè«‹è¼¸å…¥è¦ä¿®æ”¹çš„è‚¡ç¥¨ç·¨è™Ÿ (è¼¸å…¥ 0 å–æ¶ˆ): "))
    if choice == 0:
        print("âŒ å–æ¶ˆä¿®æ”¹")
        exit()
    selected_stock = stock_df.loc[choice - 1, "item"]
except (ValueError, IndexError):
    print("âš ï¸ è¼¸å…¥éŒ¯èª¤ï¼Œè«‹è¼¸å…¥æ­£ç¢ºçš„ç·¨è™Ÿï¼")
    exit()

# **ä½¿ç”¨è€…è¼¸å…¥æ–°çš„è‚¡æ•¸**
try:
    new_amount = int(input(f"ğŸ”„ è«‹è¼¸å…¥æ–°çš„ {selected_stock} è‚¡æ•¸: "))
except ValueError:
    print("âš ï¸ è‚¡æ•¸å¿…é ˆæ˜¯æ•¸å­—ï¼")
    exit()

# **æ›´æ–° DataFrame**
df.loc[df["item"] == selected_stock, "amount"] = new_amount

# **é¡¯ç¤ºæ›´æ–°å¾Œçš„çµæœ**
print("\nâœ… æ›´æ–°å¾Œçš„æ•¸æ“šï¼š")
# print(df.to_string(index=False))
print(df)

ğŸ“Š å¯ä¿®æ”¹çš„è‚¡ç¥¨ï¼š
1. å°è‚¡ 00878 -  2500 è‚¡
2. å°è‚¡ å°ç© -  165 è‚¡
3. å°è‚¡ ç‰å±±é‡‘ -  4234 è‚¡
4. å°è‚¡ å°é”é›» -  85 è‚¡
5. å°è‚¡ ç·¯å‰µ - 50 è‚¡
6. å°è‚¡ ä¸­ç§Ÿ -  250 è‚¡
7. å°è‚¡ æ°¸æ˜• -  500 è‚¡

âœ… æ›´æ–°å¾Œçš„æ•¸æ“šï¼š
        item          amount
0         ç‰å±±            3916
1         éƒµå±€           11706
2         å¯Œé‚¦            2220
3         åœ‹æ³°           40027
4       è™›æ“¬è²¨å¹£   1332.03 (USD)
5   å°è‚¡ 00878            2500
6      å°è‚¡ å°ç©             165
7     å°è‚¡ ç‰å±±é‡‘            4234
8     å°è‚¡ å°é”é›»              85
9      å°è‚¡ ç·¯å‰µ              30
10     å°è‚¡ ä¸­ç§Ÿ             250
11     å°è‚¡ æ°¸æ˜•             500
12       å…¬å¸è‚¡          200000

## Expenditure

In [46]:
import pandas as pd
import re

file_path = "./data/expenditure.txt"
with open(file_path, "r", encoding="utf-8") as file:
    lines = file.readlines()

data = []
for line in lines:
    match = re.match(r"(\d{4}/\d{1,2}/\d{1,2})\s+(.+?)\s+(\d+)", line.strip())
    if match:
        date, item, price = match.groups()
        data.append([date, item, int(price)])

df = pd.DataFrame(data, columns=["date", "item", "amount"])

In [47]:
# sum al of the price
total_price = df["amount"].sum()
print(f"total price: {total_price}")
df.loc[len(df)] = ["ç¸½è¨ˆ", "", total_price]

total price: 354515

In [48]:
# å„²å­˜æˆ Excel
output_path = "./output/finance.xlsx"
df.to_excel(output_path, sheet_name='expenditure', index=False)

print(f"Excel saved at: {output_path}")

Excel saved at: finance.xlsx

In [49]:
# å„²å­˜æˆ csv
output_path = "./output/expenditure.csv"
df.to_csv(output_path, index=False)

print(f"csv saved at: {output_path}")

csv saved at: ./output/expenditure.csv

In [50]:
df.tail(10)

           date              item  amount
133  2024/12/17            Ami å¸½è¸¢    7000
134  2024/12/17          Dior å¤§å­¸è¸¢    6000
135    2025/1/2             è¯æ³°åå“åŸ    5523
136    2025/1/4  Bumper (needles)   13050
137   2025/1/10                èŠ±è“®    6875
138   2025/1/11        rooton æ²æµ´çµ„    1900
139   2025/1/14                ç…™æ²¹    3100
140   2025/1/16                é¦–é£¾     969
141   2025/1/20      balenciagaé …éŠ    3800
142          ç¸½è¨ˆ                    354515

## Income

In [64]:
new_file_path = "./data/income.txt"
with open(new_file_path, "r", encoding="utf-8") as file:
    lines = file.readlines()

data = []
for line in lines:
    match = re.match(r"([\wğŸ“ˆğŸ’°ğŸ¦ğŸª™\s]+)\s+(\d+)", line.strip())
    if match:
        item, amount = match.groups()
        data.append(['??', item.strip(), int(amount)])

df_income = pd.DataFrame(data, columns=["date", "item", "amount"])
df_income.tail(10)

   date    item  amount
10   ??    ç”Ÿæ—¥ç´…åŒ…    1000
11   ??      åœ°é™ª    2000
12   ??    å€Ÿå­¸å£«æœ     500
13   ??    ç¶²ç®¡ç´…åŒ…     600
14   ??    ç”Ÿæ—¥ç´…åŒ…   20000
15   ??     ğŸ¦è‚¡åˆ©   19012
16   ??     ğŸ“ˆè‚¡ç¥¨   61523
17   ??  ğŸª™ è™›æ“¬è²¨å¹£    1277
18   ??   ğŸ’°å°å¤§è–ªæ°´  120000
19   ??  ğŸ’°ä¸­ç ”é™¢è–ªæ°´   94000

In [42]:
# sum al of the price
total_amount = df_income["amount"].sum()
print(f"total amout: {total_amount}")
df_income.loc[len(df_income)] = ["ç¸½è¨ˆ", "", total_amount]

total amout: 350812

In [35]:
# è®€å–ç¾æœ‰çš„ Excel ä¸¦æ–°å¢ 'income' Sheet
output_path = "./output/finance.xlsx"
with pd.ExcelWriter(output_path, engine="openpyxl", mode="a", if_sheet_exists="replace") as writer:
    df_income.to_excel(writer, sheet_name="income", index=False)

print(f"add 'income' Sheet to {output_path}")

add 'income' Sheet to finance.xlsx

In [44]:
# å„²å­˜æˆ csv
output_path = "./output/income.csv"
df_income.to_csv(output_path, index=False)

print(f"csv saved at: {output_path}")

csv saved at: income.csv

## Add new data

In [15]:
import requests

def get_usd_to_twd_rate():
    url = "https://open.er-api.com/v6/latest/USD"
    try:
        response = requests.get(url, timeout=5)  # è¨­ç½®è¶…æ™‚æ™‚é–“ï¼Œé¿å…ç„¡é™ç­‰å¾…
        response.raise_for_status()  # æª¢æŸ¥æ˜¯å¦è«‹æ±‚æˆåŠŸ (HTTP 200)
        data = response.json()
        
        # æª¢æŸ¥ API å›å‚³æ ¼å¼
        if "rates" in data and "TWD" in data["rates"]:
            return data["rates"]["TWD"]
        else:
            print("âš ï¸ API å›æ‡‰ç•°å¸¸ï¼Œæ‰¾ä¸åˆ° TWD åŒ¯ç‡ï¼")
            return None
    except requests.exceptions.RequestException as e:
        print(f"âš ï¸ ç„¡æ³•ç²å–åŒ¯ç‡: {e}")
        return None

# è®€å–æœ€æ–° USD to TWD åŒ¯ç‡
usd_to_twd_rate = get_usd_to_twd_rate()

# **ä¿®æ­£ï¼šæª¢æŸ¥ Noneï¼Œé¿å…ç¨‹å¼å´©æ½°**
if usd_to_twd_rate is None:
    print("âŒ å–å¾—åŒ¯ç‡å¤±æ•—ï¼Œä½¿ç”¨é è¨­åŒ¯ç‡ 31.5")
    usd_to_twd_rate = 31.5  # ä½ å¯ä»¥è¨­å®šä¸€å€‹å‚™ç”¨åŒ¯ç‡ï¼Œé¿å…ç¨‹å¼ä¸­æ–·

print(f"ğŸ’± å³æ™‚åŒ¯ç‡: 1 USD = {usd_to_twd_rate:.2f} TWD")

ğŸ’± å³æ™‚åŒ¯ç‡: 1 USD = 32.88 TWD

In [17]:
import pandas as pd

genre = input("è«‹è¼¸å…¥é¡åˆ¥ (1 for income / 2 for expenditure): ")
if genre == "1":
    csv_file = "./output/income.csv"
elif genre == "2":
    csv_file = "./output/expenditure.csv"

try:
    df = pd.read_csv(csv_file)
except FileNotFoundError:
    df = pd.DataFrame(columns=["date", "item", "amount"])

df.tail(10)

           date                     item  amount
145  2025/01/14                       ç…™æ²¹    3100
146  2025/01/16                       é¦–é£¾     969
147  2025/01/20             balenciagaé …éŠ    3800
148  2025/01/25                  MOOS è¡£æœ    3119
149  2025/01/25                Air Force    3240
150  2025/01/31  24/10/01 ~ 25/01/31 ç”Ÿæ´»è²»  104926
151  2025/02/01             Bumper çš®è¡£ å¸½å­    3960
152  2025/02/01             è¤²å­ threads åº—     790
153  2025/02/02               èˆŠç‰©ç››å…¸ æ‰‹éŠ è€³ç’°     670
154          ç¸½è¨ˆ                      NaN  678892

In [18]:
while True:
    raw_date = input("è«‹è¼¸å…¥æ—¥æœŸ (æ ¼å¼: YYYYMMDDï¼Œä¾‹å¦‚ 20250120ï¼Œè¼¸å…¥ q é€€å‡º): ")
    if raw_date.lower() == 'q':
        break

    try:
        formatted_date = f"{raw_date[:4]}/{int(raw_date[4:6])}/{int(raw_date[6:])}"
    except (ValueError, IndexError):
        print("âš ï¸ æ ¼å¼éŒ¯èª¤ï¼Œè«‹è¼¸å…¥æ­£ç¢ºçš„ YYYYMMDDï¼")
        continue

    item = input("è«‹è¼¸å…¥é …ç›®åç¨±: (if salary of genibuilder, please enter 1; if bonus, enter 2)")
    if item == "1":
        item = "Genibuilder è–ªæ°´"
    elif item == "2":
        item = "Genibuilder çé‡‘"

    amount = float(input("è«‹è¼¸å…¥é‡‘é¡: "))

    try:
        amount = int(amount)
    except ValueError:
        print("âš ï¸ é‡‘é¡å¿…é ˆæ˜¯æ•¸å­—ï¼")
        continue

    currency = input("enter u for USD")
    if currency == "u":
        amount = float(amount * usd_to_twd_rate)

    
    new_data = pd.DataFrame([[formatted_date, item, amount]], columns=["date", "item", "amount"])
    df = pd.concat([df[df["date"] != "ç¸½è¨ˆ"], new_data])

    df["date"] = pd.to_datetime(df["date"], errors='coerce')
    df = df.sort_values(by="date")

    df["date"] = df["date"].dt.strftime("%Y/%m/%d")

    total_amount = df["amount"].sum()
    df.loc[len(df)] = ["ç¸½è¨ˆ", "", total_amount]
    if genre == "1":
        print(f"ç¸½æ”¶å…¥: {total_amount}", end='\n')
    elif genre == "2":
        print(f"ç¸½æ”¯å‡º: {total_amount}", end='\n')

    df.to_csv(csv_file, index=False)

    print(f"âœ… å·²æ–°å¢ {formatted_date} - {item} - {amount} åˆ° {csv_file}ï¼")

ç¸½æ”¯å‡º: 679742
âœ… å·²æ–°å¢ 2025/2/5 - å°è« èŠ±ğŸŒ¹ - 850 åˆ° ./output/expenditure.csvï¼

## Modify the data

In [1]:
import requests

def get_usd_to_twd_rate():
    url = "https://open.er-api.com/v6/latest/USD"
    try:
        response = requests.get(url, timeout=5)  # è¨­ç½®è¶…æ™‚æ™‚é–“ï¼Œé¿å…ç„¡é™ç­‰å¾…
        response.raise_for_status()  # æª¢æŸ¥æ˜¯å¦è«‹æ±‚æˆåŠŸ (HTTP 200)
        data = response.json()
        
        # æª¢æŸ¥ API å›å‚³æ ¼å¼
        if "rates" in data and "TWD" in data["rates"]:
            return data["rates"]["TWD"]
        else:
            print("âš ï¸ API å›æ‡‰ç•°å¸¸ï¼Œæ‰¾ä¸åˆ° TWD åŒ¯ç‡ï¼")
            return None
    except requests.exceptions.RequestException as e:
        print(f"âš ï¸ ç„¡æ³•ç²å–åŒ¯ç‡: {e}")
        return None

# è®€å–æœ€æ–° USD to TWD åŒ¯ç‡
usd_to_twd_rate = get_usd_to_twd_rate()

# **ä¿®æ­£ï¼šæª¢æŸ¥ Noneï¼Œé¿å…ç¨‹å¼å´©æ½°**
if usd_to_twd_rate is None:
    print("âŒ å–å¾—åŒ¯ç‡å¤±æ•—ï¼Œä½¿ç”¨é è¨­åŒ¯ç‡ 31.5")
    usd_to_twd_rate = 31.5  # ä½ å¯ä»¥è¨­å®šä¸€å€‹å‚™ç”¨åŒ¯ç‡ï¼Œé¿å…ç¨‹å¼ä¸­æ–·

print(f"ğŸ’± å³æ™‚åŒ¯ç‡: 1 USD = {usd_to_twd_rate:.2f} TWD")

ğŸ’± å³æ™‚åŒ¯ç‡: 1 USD = 32.95 TWD

In [2]:
import pandas as pd

type = input("è«‹è¼¸å…¥é¡åˆ¥ (1 for income / 2 for expenditure): ")
if type == "1":
    csv_file = "./output/income.csv"
elif type == "2":
    csv_file = "./output/expenditure.csv"

try:
    df = pd.read_csv(csv_file)
except FileNotFoundError:
    print("âš ï¸ æ‰¾ä¸åˆ° finance.csvï¼Œè«‹å…ˆæ–°å¢ä¸€ç­†è³‡æ–™ï¼")
    exit()

df.tail(10)

          date            item  amount
21  2024/01/01         ğŸ’° ä¸­ç ”é™¢è–ªæ°´   94000
22  2024/08/10       Compal è–ªæ°´   32993
23  2024/09/10       Compal è–ªæ°´   32772
24  2024/10/09  Genibuilder è–ªæ°´   75000
25  2024/11/08  Genibuilder è–ªæ°´  105623
26  2024/12/10  Genibuilder è–ªæ°´   68123
27  2024/12/10  GenAI Stars çé‡‘   18000
28  2024/12/20             å­˜æ¬¾æ¯     209
29  2025/01/10  Genibuilder è–ªæ°´  143123
30          ç¸½è¨ˆ             NaN  862872

In [3]:
print("\nğŸ“‹ å¯é¸æ“‡çš„é …ç›®:")
for i, row in enumerate(df.itertuples(), start=1):
    print(f"{i}. {row.date} - {row.item} - {row.amount}")

ğŸ“‹ å¯é¸æ“‡çš„é …ç›®:
1. 2021/09/12 - å­¸æ¸¬å¼Ÿ å®¶æ•™ - 7700
2. 2022/06/27 - å°æ© å®¶æ•™ - 24100
3. 2022/10/26 - å®¿èˆæ¯ - 120
4. 2022/10/26 - ç™¼ç¥¨ - 3900
5. 2022/10/26 - å€Ÿå­¸å£«æœ - 500
6. 2022/10/26 - åœ°é™ª - 2000
7. 2022/10/26 - æ—‹è½‰ - 12130
8. 2022/10/26 - è¡Œæ”¿é™¢ - 6000
9. 2022/10/26 - ç”Ÿæ—¥ç¦®ç‰© - 3000
10. 2022/10/26 - é›»è³‡å˜‰å¹´è¯ - 500
11. 2022/10/26 - ç”Ÿæ—¥ç´…åŒ… - 1000
12. 2022/10/26 - è‘‰é… - 1300
13. 2022/10/26 - Peetaç¡¬èˆ‰ - 1000
14. 2022/10/26 - ç¶²ç®¡ç´…åŒ… - 600
15. 2022/10/26 - å‡ºæ¸…å°å¤§ - 1950
16. 2022/10/26 - ç¨‹å¼æ¥æ¡ˆ - 1000
17. 2023/10/26 - ç”Ÿæ—¥ç´…åŒ… - 20000
18. 2024/01/01 - ğŸª™ è™›æ“¬è²¨å¹£ - 3630
19. 2024/01/01 - ğŸ“ˆ è‚¡ç¥¨ - 61523
20. 2024/01/01 - ğŸ¦ è‚¡åˆ© - 21076
21. 2024/01/01 - ğŸ’° å°å¤§è–ªæ°´ - 120000
22. 2024/01/01 - ğŸ’° ä¸­ç ”é™¢è–ªæ°´ - 94000
23. 2024/08/10 - Compal è–ªæ°´ - 32993
24. 2024/09/10 - Compal è–ªæ°´ - 32772
25. 2024/10/09 - Genibuilder è–ªæ°´ - 75000
26. 2024/11/08 - Genibuilder è–ªæ°´ - 105623
27. 2024/12/10 - Genibuilder è–ªæ°´ - 68123
28. 2024/12/10 - GenAI Stars çé‡‘ - 18000
29. 2024/12/20 - å­˜æ¬¾æ¯ - 209
30. 2025/01/10 - Genibuilder è–ªæ°´ - 143123
31. ç¸½è¨ˆ - nan - 862872

In [4]:
try:
    choice = int(input("\nè«‹è¼¸å…¥è¦ä¿®æ”¹çš„é …ç›®ç·¨è™Ÿ (è¼¸å…¥ 0 é€€å‡º): "))
    if choice == 0:
        print("âŒ å–æ¶ˆä¿®æ”¹")
        exit()
    selected_row = df.iloc[choice - 1]
except (ValueError, IndexError):
    print("âš ï¸ è¼¸å…¥éŒ¯èª¤ï¼Œè«‹è¼¸å…¥æ­£ç¢ºçš„ç·¨è™Ÿï¼")
    exit()

# é¡¯ç¤ºé¸å®šçš„é …ç›®
print(f"\nğŸ”¹ ä½ é¸æ“‡äº†: {selected_row.date} - {selected_row.item} - {selected_row.amount}")

ğŸ”¹ ä½ é¸æ“‡äº†: 2024/01/01 - <bound method IndexOpsMixin.item of date      2024/01/01
item          ğŸª™ è™›æ“¬è²¨å¹£
amount          3630
Name: 17, dtype: object> - 3630

In [6]:
# è®“ä½¿ç”¨è€…é¸æ“‡ä¿®æ”¹æ–¹å¼
while True:
    mode = input("è«‹é¸æ“‡æ›´æ–°æ–¹å¼: (1) è¦†è“‹é‡‘é¡ (2) ç›¸åŠ é‡‘é¡: ")
    if mode in ["1", "2", "q"]:
        break
    print("âš ï¸ è«‹è¼¸å…¥ 1 æˆ– 2ï¼")

# è®“ä½¿ç”¨è€…è¼¸å…¥æ–°çš„é‡‘é¡
try:
    new_amount = float(input("è«‹è¼¸å…¥æ–°çš„é‡‘é¡: "))
except ValueError:
    print("âš ï¸ é‡‘é¡å¿…é ˆæ˜¯æ•¸å­—ï¼")
    exit()

current = input("è«‹è¼¸å…¥è²¨å¹£é¡å‹ (1 for TWD / 2 for USD): ")
if current == "2":
    new_amount = float(new_amount * usd_to_twd_rate)

# æ ¹æ“šé¸æ“‡é€²è¡Œæ›´æ–°
if mode == "1":
    df.loc[df.index[choice - 1], "amount"] = new_amount
    print(f"âœ… {selected_row.item} çš„é‡‘é¡å·²è¢«**è¦†è“‹**ç‚º {new_amount}ï¼")
elif mode == "2":
    df.loc[df.index[choice - 1], "amount"] += new_amount
    print(f"âœ… {selected_row.item} çš„é‡‘é¡å·²**å¢åŠ ** {new_amount}ï¼Œæ–°ç¸½é¡ç‚º {df.loc[df.index[choice - 1], 'amount']}ï¼")
elif mode == "q":
    print("âŒ å–æ¶ˆä¿®æ”¹")
    exit()

# é‡æ–°è¨ˆç®—ç¸½è¨ˆ
df = df[df["date"] != "ç¸½è¨ˆ"]
total_amount = df["amount"].sum()
df.loc[len(df)] = ["ç¸½è¨ˆ", "", total_amount]
print(f"âœ… ç¸½è¨ˆå·²æ›´æ–°ç‚º {total_amount}ï¼")

# å­˜å› CSV
df.to_csv(csv_file, index=False)

print(f"ğŸ“ finance.csv å·²æ›´æ–°ï¼")

âœ… <bound method IndexOpsMixin.item of date      2024/01/01
item          ğŸª™ è™›æ“¬è²¨å¹£
amount          3630
Name: 17, dtype: object> çš„é‡‘é¡å·²è¢«**è¦†è“‹**ç‚º 3630.0ï¼
âœ… ç¸½è¨ˆå·²æ›´æ–°ç‚º 862872.0ï¼
ğŸ“ finance.csv å·²æ›´æ–°ï¼

## Count the Salary

In [24]:
import pandas as pd

csv_file = "./output/income.csv"
df = pd.read_csv(csv_file)

df = df[df["date"] != "ç¸½è¨ˆ"]

genibuilder_salary = df[df["item"] == "Genibuilder è–ªæ°´"]
total_salary = genibuilder_salary["amount"].sum()

print(f"ğŸ’° Genibuilder è–ªæ°´ç¸½é‡‘é¡: {total_salary}")

ğŸ’° Genibuilder è–ªæ°´ç¸½é‡‘é¡: 391869

## Analyze the amount after certain date

In [44]:
# csv_file = "./output/expenditure.csv"
csv_file = "./output/income.csv"
df = pd.read_csv(csv_file)

df = df[df["date"] != "ç¸½è¨ˆ"]

# è½‰æ›æ—¥æœŸæ ¼å¼ï¼Œæ–¹ä¾¿æ¯”è¼ƒ
df["date"] = pd.to_datetime(df["date"], format="%Y/%m/%d")

# ä½¿ç”¨è€…è¼¸å…¥æ™‚é–“é»
raw_date = input("è«‹è¼¸å…¥æ—¥æœŸ (æ ¼å¼: YYYYMMDDï¼Œä¾‹å¦‚ 20250120ï¼Œè¼¸å…¥ q é€€å‡º): ")

try:
    user_date = f"{raw_date[:4]}/{int(raw_date[4:6])}/{int(raw_date[6:])}"
except (ValueError, IndexError):
    print("âš ï¸ æ ¼å¼éŒ¯èª¤ï¼Œè«‹è¼¸å…¥æ­£ç¢ºçš„ YYYYMMDDï¼")

# éæ¿¾æ™‚é–“é»ä¹‹å¾Œçš„è³‡æ–™
df_after_date = df[df["date"] >= user_date]

# è¨ˆç®—ç¸½é‡‘é¡
total_amount_after = df_after_date["amount"].sum()

print(f"ğŸ“… {user_date} ä¹‹å¾Œçš„ç¸½é‡‘é¡: {total_amount_after}")
print()

if df_after_date.empty:
    print("âš ï¸ æ²’æœ‰ç¬¦åˆæ¢ä»¶çš„é …ç›®ï¼")
else:
    print(df_after_date.to_string(index=False))  # é¡¯ç¤ºæ‰€æœ‰ç¬¦åˆæ¢ä»¶çš„è³‡æ–™
    print(f"\nğŸ’° ç¸½é‡‘é¡: {total_amount_after}")

ğŸ“… 2024/7/1 ä¹‹å¾Œçš„ç¸½é‡‘é¡: 475843

      date           item  amount
2024-08-10      Compal è–ªæ°´   32993
2024-09-10      Compal è–ªæ°´   32772
2024-10-09 Genibuilder è–ªæ°´   75000
2024-11-08 Genibuilder è–ªæ°´  105623
2024-12-10 Genibuilder è–ªæ°´   68123
2024-12-10 GenAI Stars çé‡‘   18000
2024-12-20            å­˜æ¬¾æ¯     209
2025-01-10 Genibuilder è–ªæ°´  143123

ğŸ’° ç¸½é‡‘é¡: 475843

In [45]:
csv_file = "./output/expenditure.csv"
# csv_file = "./output/income.csv"
df = pd.read_csv(csv_file)

df = df[df["date"] != "ç¸½è¨ˆ"]

# è½‰æ›æ—¥æœŸæ ¼å¼ï¼Œæ–¹ä¾¿æ¯”è¼ƒ
df["date"] = pd.to_datetime(df["date"], format="%Y/%m/%d")

# ä½¿ç”¨è€…è¼¸å…¥æ™‚é–“é»
raw_date = input("è«‹è¼¸å…¥æ—¥æœŸ (æ ¼å¼: YYYYMMDDï¼Œä¾‹å¦‚ 20250120ï¼Œè¼¸å…¥ q é€€å‡º): ")

try:
    user_date = f"{raw_date[:4]}/{int(raw_date[4:6])}/{int(raw_date[6:])}"
except (ValueError, IndexError):
    print("âš ï¸ æ ¼å¼éŒ¯èª¤ï¼Œè«‹è¼¸å…¥æ­£ç¢ºçš„ YYYYMMDDï¼")

# éæ¿¾æ™‚é–“é»ä¹‹å¾Œçš„è³‡æ–™
df_after_date = df[df["date"] >= user_date]

# è¨ˆç®—ç¸½é‡‘é¡
total_amount_after = df_after_date["amount"].sum()

print(f"ğŸ“… {user_date} ä¹‹å¾Œçš„ç¸½é‡‘é¡: {total_amount_after}")
print()

if df_after_date.empty:
    print("âš ï¸ æ²’æœ‰ç¬¦åˆæ¢ä»¶çš„é …ç›®ï¼")
else:
    print(df_after_date.to_string(index=False))  # é¡¯ç¤ºæ‰€æœ‰ç¬¦åˆæ¢ä»¶çš„è³‡æ–™
    print(f"\nğŸ’° ç¸½é‡‘é¡: {total_amount_after}")

ğŸ“… 2024/7/1 ä¹‹å¾Œçš„ç¸½é‡‘é¡: 375169

      date                    item  amount
2024-07-11                   å¯¶å¯¶ æ©˜è‰²    2079
2024-07-23                    ç´…è»¸éµç›¤    2800
2024-07-25                 new era    1311
2024-07-25                    å¯¶å¯¶ç¯‰é–“    1386
2024-07-25                   åƒ”æ—¥æœ¬ä»£è³¼    4500
2024-07-27                      åˆºé’    3000
2024-08-02                   é¦™æ¸¯ ğŸ‡­ğŸ‡°   25000
2024-08-06                Marshall    5475
2024-08-08                      ç½°å–®    1200
2024-08-23                   äººé«”å·¥å­¸æ¤…    7000
2024-08-24           balenciaga å¢¨é¡    7443
2024-08-25                     è‡ªæ‹æ£’     990
2024-08-28                   377ç¾ç™½    1200
2024-08-31                    è¢å¹•æ”¯æ¶    1300
2024-09-03                dyptique    4500
2024-09-04                      å‡±è–©    1550
2024-09-11                   è«‹å®¢ ç‡’è‚‰    2893
2024-09-15                      éšŠè²»    2000
2024-09-22                     æ‰¾å¥³äºº    8157
2024-09-24                   ç…™æ²¹ ç…™å€‰    3000
2024-09-30                   æ‰¾å¥³äººä¸Šä¾†    2500
2024-10-01                    å›ºå®šé–‹éŠ·   20668
2024-10-18                    å¥³äººä¸Šä¾†    2500
2024-10-20                outliers    4000
2024-10-26                     ç”Ÿæ—¥ğŸŠ   15950
2024-11-01                    å›ºå®šé–‹éŠ·   20668
2024-11-03                è²¼æ‘¸ + é¡é ­è†œ    1000
2024-11-03                   æ‰‹éŠ é …éŠ    1600
2024-11-03                 è€³æ´ + è€³ç’°     480
2024-11-03                    ç¾å¼çŸ­è¢–     891
2024-11-17                   çˆ¸åª½å§‘åƒé£¯    4100
2024-11-18                      çš®è¡£     660
2024-11-21                å¥å·¥ verve     650
2024-11-26            AirPods Pro2    5100
2024-11-28                     æŠ•å½±æ©Ÿ    1380
2024-12-01                    å›ºå®šé–‹éŠ·   20668
2024-12-16                      æ“´é¦™     650
2024-12-17                Dior å¤§å­¸è¸¢    6000
2024-12-17                  Ami å¸½è¸¢    7000
2025-01-01                    å›ºå®šé–‹éŠ·   20668
2025-01-02                   è¯æ³°åå“åŸ    5523
2025-01-04        Bumper (needles)   13050
2025-01-10                      èŠ±è“®    6875
2025-01-11              rooton æ²æµ´çµ„    1900
2025-01-14                      ç…™æ²¹    3100
2025-01-16                      é¦–é£¾     969
2025-01-20            balenciagaé …éŠ    3800
2025-01-25                 MOOS è¡£æœ    3119
2025-01-25               Air Force    3240
2025-01-31 24/10/01 ~ 25/01/31 ç”Ÿæ´»è²»  104926
2025-02-01            Bumper çš®è¡£ å¸½å­    3960
2025-02-01            è¤²å­ threads åº—     790

ğŸ’° ç¸½é‡‘é¡: 375169

In [4]:
import pandas as pd

file_path = "finance.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

for sheet_name, df in sheets_dict.items():
    print(f"Sheet: {sheet_name}")
    print(df.head())

Sheet: income
Empty DataFrame
Columns: []
Index: []
Sheet: expenditure
        date         item  price
0  2022/6/26           å¸½å­    591
1  2022/7/18        å°åŒ… è¤²å­   1500
2  2022/8/24           ä¿®é‹   1000
3  2022/9/28         ckç¦®ç‰©   1730
4  2022/10/2  Apple Watch   7000

In [5]:
df = pd.read_excel(file_path, sheet_name="expenditure")
df.tail(10)

           date              item  price
118  2024/12/16                æ“´é¦™    650
119  2024/12/17            Ami å¸½è¸¢   7000
120  2024/12/17          Dior å¤§å­¸è¸¢   6000
121    2025/1/2             è¯æ³°åå“åŸ   5523
122    2025/1/4  Bumper (needles)  13050
123   2025/1/10                èŠ±è“®   6875
124   2025/1/11        rooton æ²æµ´çµ„   1900
125   2025/1/14                ç…™æ²¹   3100
126   2025/1/16                é¦–é£¾    969
127   2025/1/20      balenciagaé …éŠ   3800